@import "./mfp.css";

@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slick-dots {
  display: flex !important;
}
.slick-dots li button:before {
  content: "";
}
.slick-dots li,
.slick-dots li button {
  width: fit-content !important;
  height: fit-content !important;
}
.slick-dots {
  margin-top: 55px;
  bottom: unset !important;
}
.testimonial-slider-two .slick-slide,
.related-product-slider .slick-slide,
.portfolio-slider .slick-slide {
  padding: 15px;
}

.slick-next:before {
  content: "";
}
.slick-prev:before {
  content: "";
}

.testimonial-slider-vertical .slick-dots {
  position: absolute;
  width: fit-content !important;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0;
}
.testimonial-slider-vertical .slick-dots li {
  margin-right: 0;
  margin-bottom: 15px;
  background-color: var(--color-fourth);
  opacity: 0.3;
}
.feature-section.design-studio-feature::before {
  width: 100%;
}

@media only screen and (max-width: 580px) {
  .testimonial-slider-vertical .slick-dots {
    display: none !important;
  }
  .client-carousel-arrows {
    display: none;
  }
}

.client-carousel-arrows {
  position: absolute;
  top: -80px;
  right: 25px;
}
.client-carousel-arrows.prevArrow {
  right: 50px;
}
